/*
 * RNAFlowX
 * Bulk RNA-seq analysis workflow
 */

nextflow.enable.dsl=2

/*
 * Project metadata
 */
manifest {
    name        = 'RNAFlowX'
    author      = 'Sriram B'
    description = 'Reproducible and scalable bulk RNA-seq analysis pipeline'
    version     = '1.0.0'
    nextflowVersion = '>=24.10.0'
}

/*
 * Parameter configuration
 */
includeConfig 'conf/params.config'

/*
 * Base process configuration
 */
includeConfig 'conf/base.config'

/*
 * Default execution profile
 */
profiles {

    local {
        includeConfig 'conf/local.config'
    }

    docker {
        includeConfig 'conf/docker.config'
    }
}

/*
 * Default profile
 */
params {
    outdir = 'results'
}