/*
 * RNAFlowX
 * Bulk RNA-seq analysis workflow
 */

nextflow.enable.dsl=2

/*
 * Project metadata
 */
manifest {
    name        = 'RNAFlowX'
    author      = 'Sriram B'
    description = 'Reproducible and scalable bulk RNA-seq analysis pipeline'
    version     = '1.1.0'
    nextflowVersion = '>=24.10.0'
}

/*
 * Parameter configuration
 */
includeConfig 'conf/params.config'

/*
 * Base process configuration
 */
includeConfig 'conf/base.config'

/*
 * Default execution profile
 */
profiles {

    local {
        includeConfig 'conf/local.config'
    }

    docker {
        includeConfig 'conf/docker.config'
    }

    slurm {
        includeConfig 'conf/slurm.config'
    }

    azure {
        includeConfig 'conf/azure.config'
    }
}

/*
 * Default profile
 */
params {
    outdir = 'results'
}

/*
 * Execution monitoring and provenance
 */
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/workflow_dag.html"
    overwrite = true
}

