/*
 * RNAFlowX
 * Azure Batch cloud-ready execution profile
 *
 * Configuration only.
 * Does NOT provision Azure resources.
 */

process {

    executor = 'azurebatch'
    container = params.container_image

    maxForks = 20
    queueSize = 20

    cpus = 2
    memory = 4.GB
    time = 4.h

    withName: 'FASTQC_RAW' {
        cpus = 1
        memory = 2.GB
        time = 1.h
    }

    withName: 'FASTQC_TRIMMED' {
        cpus = 1
        memory = 2.GB
        time = 1.h
    }

    withName: 'FASTP' {
        cpus = 2
        memory = 3.GB
        time = 2.h
    }

    withName: 'SALMON_QUANT' {
        cpus = 4
        memory = 8.GB
        time = 6.h
    }

    withName: 'TXIMPORT' {
        cpus = 1
        memory = 4.GB
        time = 2.h
    }

    withName: 'DESEQ2' {
        cpus = 2
        memory = 8.GB
        time = 4.h
    }

    withName: 'MULTIQC' {
        cpus = 1
        memory = 2.GB
        time = 1.h
    }
}
