params {

    /*
     * Input data
     */
    samplesheet = 'assets/samplesheet.csv'

    /*
     * Reference
     */
    salmon_index = 'data/reference/salmon_index'
    tx2gene = 'data/reference/tx2gene.tsv'

    /*
     * Sample metadata
     */
    metadata = 'assets/metadata.csv'

    /*
     * Output
     */
    outdir = 'results'

    /*
     * Pipeline metadata
     */
    project_name = 'RNAFlowX'
    version = '1.0.0'
}